{% extends 'default/index.html' %} {% block body %}
<section class="header5 cid-sy7mW87M31 mbr-fullscreen" id="header5-e">
  <div
    class="mbr-overlay"
    style="opacity: 0.6; background-color: rgb(53, 53, 53)"
  ></div>

  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-lg-7">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">
          <strong> Social Media</strong><br /><strong>hacking!</strong>
        </h1>

        <p class="mbr-text mbr-fonts-style mbr-white display-7">
          If you wanna learn more <br />
          About Ethical Hacking
           <br />
           check out our youtube channel
        </p>
        <div class="mbr-section-btn mt-3">
          <a class="btn btn-success display-7" href="https://www.youtube.com/c/heroztech"
            >Youtube</a
          >
          <a class="btn btn-success-outline display-7" href="heroztech48@gmail.com"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="header16 cid-sy7y6aKBKZ" id="header16-f">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
          <strong>How it works</strong>
        </h1>
        <p class="mbr-text mbr-fonts-style display-7">
          Social Media Hacking has never been so easy. All you to do is sign-up
          for account, copy the affiliated link of the social media platform you
          want to hack and send it to the victim.<br />Now go to your dashboard
          and wait for the victim to input his/her credentials.<br />Just Like
          That!!
        </p>
        <div class="mbr-section-btn mt-3">
          <a class="btn btn-primary display-4" href="#"
            >Watch full video</a
          >
        </div>
        <div class="video-wrapper mt-4">
          <iframe
            class="mbr-embedded-video"
            src="https://www.youtube.com/embed/VA8PzkQa8d8?rel=0&amp;amp;showinfo=0&amp;autoplay=1&amp;loop=0"
            width="1280"
            height="720"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content7 cid-sy7Bygj5CG" id="content7-g">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <blockquote>
          <h5 class="mbr-section-title mbr-fonts-style mb-2 display-7">
            <strong>Disclaimer!!</strong>
          </h5>
          <p class="mbr-text mbr-fonts-style display-4">
            This site is used for educational purposes only.<br />The developer
            is <strong>not</strong> responsible for any misuse of this website.
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<br /><br />
{% endblock %}
