<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
  NJA-SRC-VOTING
    </title>
    <!-- Favicon -->
    {% set bg = bgs|random %}
    <link
      href="{{ url_for('static', filename='assets/img/brand/fav.png')}}"
      rel="icon"
      type="image/png"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')}}"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      href="{{ url_for('static', filename='assets/js/plugins/nucleo/css/nucleo.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/css/argon-dashboard.css')}}"
      rel="stylesheet"
    />
      <!--Custom  files-->

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  </head>

  <body class="bg-default">
    <div class="main-content">
      <!-- Navbar -->
      <nav
        class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark"
      >
        <div class="container px-4">
          <a class="navbar-brand" href="/">
            <h1 class="font-weight-bold  text-white" >NJA-SRC</h1>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse-main"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="/">
                    <h1 class="font-weight-bold  text-{{bg}}" >NJA-SRC</h1>
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbar-collapse-main"
                    aria-controls="sidenav-main"
                    aria-expanded="false"
                    aria-label="Toggle sidenav"
                  >
                    <span></span>
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
            <!-- Navbar items -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="/">
                  <i class="ni ni-planet"></i>
                  <span class="nav-link-inner--text">Dashboard</span>
                </a>
              </li>
              
             
            </ul>
          </div>
        </div>
      </nav>
     
      <!-- Header -->
      <div class="header bg-gradient-{{bg}} py-7 py-lg-8">
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{message}}</div>
          {% endfor %} {% endif %} {% endwith %}
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                <h1 class="text-white">Welcome!</h1>
                <p class="text-lead text-white">
                  Create A New Candidate
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg
            x="0"
            y="0"
            viewBox="0 0 2560 100"
            preserveAspectRatio="none"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              class="fill-default"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>New Candidate</small>
                </div>
                <form role="form" method="POST" action="" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          > <i class="bi bi-person-square"></i> </span>
                      </div>
                      {% if form.candidate_name.errors %} {{
                      form.candidate_name(class='form-control form-control-lg
                      is-invalid') }}
                      <div class="invalid-feedback">
                        {% for error in form.candidate_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.candidate_name(class='form-control',
                      placeholder="Candidate's Name") }} {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          > <i class="bi bi-flag"></i></span>
                      </div>
                      {% if form.moto.errors %} {{
                      form.moto(class='form-control form-control-lg
                      is-invalid') }}
                      <div class="invalid-feedback">
                        {% for error in form.moto.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.moto(class='form-control border-3',
                      placeholder='Moto' ) }} {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="bi bi-diagram-3-fill"></i></span>
                      </div>
                      {% if form.sector.errors %} {{
                      form.sector(class='form-control form-control-lg
                      is-invalid') }}
                      <div class="invalid-feedback">
                        {% for error in form.sector.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.sector(class='form-control border-3') }} {% endif %}
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                       
                      </div>
                    {{form.image( class='form-control-file btn-outline-success')}}
                    {% if form.image.errors %}
                    {% for error in form.image.errors %}
                    <span class="text-danger">{{ error }}</span> </br>
                    {% endfor %}

            {% endif %}
                    </div>
                  </div>
                 
                 
             
             
                  <div class="text-center">
                    {{form.submit(class="btn btn-success my-4")}}
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <footer class="py-5">
        <div class="container">
          <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
              <div class="copyright text-center text-xl-left text-muted">
                © 2021
                <a
                  href="https://heroz-tech.herokuapp.com"
                  class="font-weight-bold ml-1"
                  target="_blank"
                  ><i class="bi bi-hash"></i>Heroz Tech</a
                >
              </div>
            </div>
            <div class="col-xl-6">
              <ul
                class="nav nav-footer justify-content-center justify-content-xl-end"
              >
                <li class="nav-item">
                  <a
                    href="https://heroz-tech.herokuapp.com"
                    class="nav-link"
                    target="_blank"
                    >Report Issue</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="https://www.njacoe.edu.gh"
                    class="nav-link"
                    target="_blank"
                    >About Us</a
                  >
                </li>
               
              
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--   Core   -->
    <script src="{{ url_for('static', filename='assets/js/plugins/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <!--   Optional JS   -->
    <!--   Argon JS   -->
    <script src="{{ url_for('static', filename='assets/js/argon-dashboard.min.js')}}"></script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js')}}"></script>
    
  </body>
</html>
